<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
    <VUIE.Vanilla>Vanilla</VUIE.Vanilla>
    <VUIE.Architect>Architect Menu</VUIE.Architect>
    <VUIE.Architect.Open>Open Architect Configuration Dialog</VUIE.Architect.Open>
    <VUIE.Architect.GroupDisplay>Group Display Type</VUIE.Architect.GroupDisplay>
    <VUIE.Architect.GroupDisplay.SquareGrid>Square Grid</VUIE.Architect.GroupDisplay.SquareGrid>
    <VUIE.Architect.GroupDisplay.SquareGrid.Desc>Keep normal gizmo size, display a small grid of options</VUIE.Architect.GroupDisplay.SquareGrid.Desc>
    <VUIE.Architect.GroupDisplay.ExpandGrid>Expanding Grid</VUIE.Architect.GroupDisplay.ExpandGrid>
    <VUIE.Architect.GroupDisplay.ExpandGrid.Desc>Keep grid with a max height of 2, expand width to fit</VUIE.Architect.GroupDisplay.ExpandGrid.Desc>
    <VUIE.Architect.GroupDisplay.Vanilla.Desc>Display icon of last used inner gizmo</VUIE.Architect.GroupDisplay.Vanilla.Desc>
    <VUIE.Architect.MaxGridWidth>Maximum grid width"</VUIE.Architect.MaxGridWidth>
    <VUIE.Architect.MaxGridDepth>Maximum side length</VUIE.Architect.MaxGridDepth>
    <VUIE.Architect.LeftClick>Left click open menu</VUIE.Architect.LeftClick>
    <VUIE.Architect.LeftClick.Desc>Open selection menu on left click, by default selects the current mousedover item</VUIE.Architect.LeftClick.Desc>
    <VUIE.Architect.Config>Architect Configurations</VUIE.Architect.Config>
    <VUIE.Active>Active</VUIE.Active>
    <VUIE.SetActive>Set Active</VUIE.SetActive>
    <VUIE.Remove>Remove</VUIE.Remove>
    <VUIE.Architect.AddConfig>Add Configuration</VUIE.Architect.AddConfig>
    <VUIE.Architect.EditIcon>Edit Icon</VUIE.Architect.EditIcon>
    <VUIE.FloatMenus>Float Menus</VUIE.FloatMenus>
    <VUIE.FloatMenus.ShowSwitch>Show switch buttons</VUIE.FloatMenus.ShowSwitch>
    <VUIE.FloatMenus.UseGrid>Use Grid view</VUIE.FloatMenus.UseGrid>
    <VUIE.FloatMenus.ForceDialog>Force Dialogs</VUIE.FloatMenus.ForceDialog>
    <VUIE.FloatMenus.ForceVanilla>Force Vanilla</VUIE.FloatMenus.ForceVanilla>
    <VUIE.FloatMenus.Default>Default (Dialog when >30 options)</VUIE.FloatMenus.Default>
    <VUIE.Export>Export</VUIE.Export>
    <VUIE.Import>Import</VUIE.Import>
    <VUIE.Misc>Misc</VUIE.Misc>
    <VUIE.Misc.ShowImpact>Show impact on capacities</VUIE.Misc.ShowImpact>
    <VUIE.Misc.ShowImpact.Desc>In the tooltip when hovering over a pawn's capacity (breathing, moving, etc.), also show how much each item contributes to the capacity.</VUIE.Misc.ShowImpact.Desc>
    <VUIE.Overlays>Overlays</VUIE.Overlays>
    <VUIE.Enabled>Enabled at all</VUIE.Enabled>
    <VUIE.Overlays.Move>Move Overlays to new tab</VUIE.Overlays.Move>
    <VUIE.Overlays.ShowNumbers>Show numbers</VUIE.Overlays.ShowNumbers>
    <VUIE.Overlays.ShowNumbers.Desc>If false, show colored cells like the fertility overlay. If true, show numbers near the cursor like the vanilla beauty overlay.</VUIE.Overlays.ShowNumbers.Desc>
    <VUIE.Overlays.UseColor>Use glow color</VUIE.Overlays.UseColor>
    <VUIE.Overlays.UseColor.Desc>If false, color will be between green and red, the brighter it is the more green.</VUIE.Overlays.UseColor.Desc>
    <VUIE.Overlays.Autoshow>Show automatically</VUIE.Overlays.Autoshow>
    <VUIE.Debug.Favorites>Do favorite debug actions</VUIE.Debug.Favorites>
    <VUIE.Debug.ActionMenu>Debug Action Menu</VUIE.Debug.ActionMenu>
    <VUIE.Debug.HideNotMatch>Hide items that don't match search</VUIE.Debug.HideNotMatch>
    <VUIE.ModCompat>Mod Integrations</VUIE.ModCompat>
    <VUIE.ModCompat.TD>TD Enhancement Pack Integration</VUIE.ModCompat.TD>
    <VUIE.Architect.Example>Example:</VUIE.Architect.Example>
    <VUIE.Architect.Disabled.NotPlaying>Architect Configuration Disabled: Must be in-game to edit.</VUIE.Architect.Disabled.NotPlaying>
    <VUIE.Architect.Disabled.Vanilla>Architect Configuration Disabled: Cannot edit the vanilla configuration.</VUIE.Architect.Disabled.Vanilla>
    <VUIE.Architect.Disabled.RemoveVanilla>Cannot remove vanilla configuration.</VUIE.Architect.Disabled.RemoveVanilla>
    <VUIE.Architect.Gather>Gather Unassigned</VUIE.Architect.Gather>
    <VUIE.Architect.Gather.Desc>Find all designators that are not present in the current configuration and add them here.</VUIE.Architect.Gather.Desc>
    <VUIE.MainButtons>Bottom Buttons</VUIE.MainButtons>
    <VUIE.MainButtons.Reset>Reset bottom buttons to vanilla</VUIE.MainButtons.Reset>
    <VUIE.ConfirmRestart.Desc>This action requires a restart of the game. Restart now?</VUIE.ConfirmRestart.Desc>
    <VUIE.ConfirmRestart>Confirm Restart Game</VUIE.ConfirmRestart>
    <VUIE.Overlays.EnableAll>Enable all</VUIE.Overlays.EnableAll>
    <VUIE.Overlays.DisabledAll>Disable all</VUIE.Overlays.DisabledAll>
    <VUIE.ModCompat.TD.Desc>Disable the overlays system in TD Enhancement Pack in favor of the ones in Vanilla UI Expanded. Requires restart to take effect.</VUIE.ModCompat.TD.Desc>
    <VUIE.Debug.HideNotMatch.Desc>By default, RimWorld simply highlights search matches in debug action menus. With this setting on, they will instead be completely hidden. May increase performance when searching with lots of options.</VUIE.Debug.HideNotMatch.Desc>
</LanguageData>